<h1 class="display-4">Create new Interview!</h1>

<form (ngSubmit)="submit()">
  <label>Start Time</label><br>
  <input type="date" name="sd" [(ngModel)]="startDate" class="mr-2">
  <input type="time" name="st" [(ngModel)]="startTime">
  
  <hr>

  <label>End Time</label><br>
  <input type="date" name="ed" [(ngModel)]="endDate" class="mr-2">
  <input type="time" name="et" [(ngModel)]="endTime">

  <hr>

  <label>Select Participants</label><br>
  <div *ngIf="parts">
    <div *ngFor="let item of parts">
      <input type="checkbox" name="{{item.part._id}}" [(ngModel)]="item.include"> {{item.part.name}} ({{item.part.email}})
    </div>
  </div>

  <hr>

  <button type="submit" class="btn btn-success">Submit</button>
</form>